*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    align-items: center;
    
}
table {
    border-collapse: collapse;
    margin-bottom: 1rem;
  }

  tr,
  td {
    width: 40px;
    height: 40px;
    border: 1px solid grey;
    text-align: center;
  }